{% assign collectionCandles = collections['CandleGifts'] %}
<div class="oz_candles" style="display:none">
  <div class="oz_candles__content">
    <div class="oz_candles__close"></div>
    <h2 class="oz_candles__main-title">Choose Your 7oz Complimentary Candle</h2>
    <div class="oz_candles__items">
    {% for product in collectionCandles.products %}
      <div class="oz_candles__item" data-item-id="{{ product.selected_or_first_available_variant.id }}">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ product.featured_image | product_img_url: 'medium' }}" class="oz_candles__image lazy2">
     
      {%- comment -%}
       {% if product.metafields.customAttributes.fragrance != blank %}
        <h5 class="oz_candles__title">{{ product.metafields.customAttributes.fragrance }}</h5>
      {% else %}
        <h5 class="oz_candles__title">{{ product.metafields.collection_title.collection_title }}</h5>
      {% endif %}
      {%- endcomment -%}
      
      <h5 class="oz_candles__title">{{ product.vendor }}</h5>
    </div>
    {% endfor %}
    </div>
  </div>
</div>

<style>
.oz_candles {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.oz_candles__content {
  box-shadow: 0 0 1.5rem rgb(17 17 17 / 70%);
  width: 100%;
/*   padding: 20px; */
  background-color: #FFFFFF;
  max-width: 840px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.oz_candles__main-title {
  font-size: 22px;
  text-align: center;
  padding: 15px 5px;
  background: #333;
  color: #fff;
}
.oz_candles__items {
  padding: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
/*   align-items: center;
  justify-content: center; */
}
.oz_candles__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 18%;
  margin: 0 1% 10px;
  padding: 0px 20px 10px;
  cursor: pointer;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.oz_candles__item:hover {
/*   border-radius: 5px; */
  box-shadow: 1px 1px 14px -4px #00000082;
  transform: scale(1.05);
}
.oz_candles__title {
  font-size: 15px;
  text-align: center;
}
.oz_candles__close {
  background-image: url(https://cdn.shopify.com/s/files/1/2380/9649/files/close-button.png?v=1601371547);
  width: 25px;
  height: 25px;
  position: absolute;
  right: 4px;
  top: 3px;
  cursor: pointer;
  transform: scale(0.7);
}
  
@media screen and (max-width: 768px){
  .oz_candles__content {
    top: 0px;
    transform: translateY(0%);
  }
  .oz_candles__item {
  	flex-basis: 48%;
    padding: 0px 10px 5px;
  }
}
</style>

<script>
  $(".oz_candles__close").on("click", function(){ $(".oz_candles").fadeOut(200); })
  
  $(".oz_candles__item").on("click", function(){
    let itemid = $(this).data("itemId");
    console.log(itemid);
    let data = {
        'items': [{
          'id': itemid,
          'quantity': 1
        }]
      };
    $.ajax({
      type: 'POST',
      url: '/cart/add.js',
      contentType: 'application/json',
      data: JSON.stringify(data),
      dataType: 'json',
      error: function(jqXHR, textStatus, errorThrown){
        //$('.alert_note').html('<p class="error_msg"><span class="svg"><?xml version="1.0" encoding="iso-8859-1"?><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 488.451 488.451" style="enable-background:new 0 0 488.451 488.451;" xml:space="preserve"><g><path d="M484.125,412.013l-212.2-367.6c-12.3-21.3-43.1-21.3-55.4,0l-212.2,367.6c-12.3,21.3,3.1,48,27.7,48h424.4C481.025,460.013,496.425,433.313,484.125,412.013z M244.525,157.613c13.6,0,24.6,11.3,24.2,24.9l-4,139.6c-0.3,11-9.3,19.7-20.3,19.7s-20-8.8-20.3-19.7l-3.9-139.6C219.925,168.913,230.825,157.613,244.525,157.613zM244.225,410.113c-13.9,0-25.2-11.3-25.2-25.2c0-13.9,11.3-25.2,25.2-25.2s25.2,11.3,25.2,25.2S258.125,410.113,244.225,410.113z"/></g></svg></span><span class="message">The requested qty exceeds the maximum qty allowed in shopping cart.</span></p>');
      }
    }).done(function(data) {
      $(".oz_candles").fadeOut(200);
      $.get( "/cart?view=mini", function( data ) {
        $('#minicart_content').html(data);
      });
      $.getJSON('/cart.js', function(cart){
        $('.cart_count').text(cart.item_count);
        if(cart.item_count == 0){
          $('.cart-page-wrapper').addClass('empty-message');
        }else{
          $('.cart-page-wrapper').removeClass('empty-message');
        };
      });
    });
  })
</script>