<section class="user-section">
  <div class="container">

    <div class="user-cover other_login">  
      <div class="user-inner-box bgcolor4">
        <div class="section-header section-header--large">
          <h1 class="section-header__title">{{ 'customer.activate_account.title' | t }}</h1>
        </div>
        <div class="main_wrapper">
          <p>{{ 'customer.activate_account.subtext' | t }}</p>

          {% comment %}
          This form must use 'activate_customer_password'
          {% endcomment %}
          {% form 'activate_customer_password' %}

          {{ form.errors | default_errors }}
          <div class="form-wrap">

            <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">
          </div>
          <div class="form-wrap">

            <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
          </div>
          <div>
            <p>
              <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
            </p>
            <input type="submit" class="btn btn--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
          </div>
        </div>
        {% endform %}

      </div>
    </div>
  </div>
</section>