<div class="cm-article-main">
  <div class="section-header text-center">
    <div class="article-btns">
      {% if blog.next_article or blog.previous_article %}
      {% if blog.next_article %}
      {{ 'blogs.article.older_post' | t | link_to: blog.next_article }}
      {% else %}
      {{ 'blogs.article.older_post' | t | link_to: blog.articles.last.url }}
      {% endif %}
      {% if blog.previous_article %}
      {{ 'blogs.article.newer_post' | t | link_to: blog.previous_article }}
      {% else %}
      {{ 'blogs.article.older_post' | t | link_to: blog.articles.first.url }}
      {% endif %}
      {% endif %}
    </div>
    <div class="prev_next"></div>
    <div class="article-auther">
      {% if section.settings.show_title %}
      <h1 class="article__title" id="title-0">{{ article.title }}</h1>
      {% endif %}
      {% if section.settings.blog_show_author %}
      <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
      {% endif %}

      {% if section.settings.blog_show_date %}
      <span class="article__date">
        {{ article.published_at | time_tag: format: 'date' }}
      </span>
    </div>
    {% endif %}
  </div>
  <div class="rte article-content">
    {{ article.content }}
  </div>
  {% if section.settings.show_share_buttons %}
  {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  {% endif %}
</div>

{% schema %}
{
"name": "Posts",
"settings": [
{
"type": "checkbox",
"id": "show_title",
"label": "Show title",
"default": true
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": "Show author",
"default": true
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": "Show date",
"default": true
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social sharing buttons",
"default": true
}
]
}
{% endschema %}
