{% if section.settings.show_thi_pop != blank %}
<script type="lazyload2">
  var is_popup = 0;
  for(var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      if(aKeyValue[0] == 'form_type' &&  aKeyValue[1] == 'customer'){
        is_popup = 1;
      }
      if(aKeyValue[0] == 'customer_posted' &&  aKeyValue[1] == 'true'){
        is_popup = 1;
      }
    }
  }
  var is_form = localStorage.getItem('customer_form');
</script>
<div class="newsletter-popup">
  <div class="fancybox-overlay"></div>
  <div class="fancybox-wrap">
    <div class="fancybox-close"></div>
    <div class="fancybox-form">
      {% capture all_text_desc %}
      {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.desc != blank %}
      <span class="desc_discount">{{ section.settings.desc | replace : 'strong>' , 'b>' }}</span>
      {% endif %}
      {% endcapture %}
      {% if section.settings.mailchimp_id != blank %}
        <form action="{{ section.settings.mailchimp_id | replace : 'post', 'post-json' }}&c=?" method="post" id="ContactForm_popup" class="subscribe_form form-wrap is_mailchemp_form">
          {{ all_text_desc }}
          <div id="join-result"></div>
          <div class="newsletter-input">
            <input type="email" name="EMAIL" id="ContactForm_popup-email" placeholder="Enter your email address"/>
          </div>
          <div class="newsletter-action">
            <button type="submit">
              <span>{% if section.settings.btn_text != blank %}{{ section.settings.btn_text }}{% else %}Subscribe{% endif %}</span>
            </button>
          </div>
        </form>
      {% elsif section.settings.get_customer_form %}
        {%- assign formId = 'ContactForm_popup' -%}
      {% form 'customer', id: formId, novalidate: 'novalidate' %}
      {{ all_text_desc }}
        {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>
          {{ 'general.newsletter_form.confirmation' | t }}
        </p>
      <script type="lazyload2">
        if (is_popup == 1 && $('.template-captcha').length == 0 && is_form == 'popup') { 
          $('body .newsletter-popup').addClass('hidetext');
        }
      </script>
        {%- endif -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter-input">
          <input type="email" name="contact[email]" id="ContactForm_popup-email" placeholder="Enter your email address"/>
        </div>
        {% if form.errors contains 'email' %}
        <span id="{{ formId }}-email-error" class="input-error-message">
          <span class="site-footer__newsletter-error error_msg">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </span>
        {% endif %}
        <div class="newsletter-action">
          <button type="submit">
            <span>{% if section.settings.btn_text != blank %}{{ section.settings.btn_text }}{% else %}Subscribe{% endif %}</span>
          </button>
        </div>
        {% endform %}
      {% else %}
        {%- assign formId = 'ContactForm_popup' -%}
        {% form 'contact', id: formId %}
        {% include 'form-status', form_id: formId %}
        <div class="newsletter-input">
          <input type="email" name="contact[email]" id="ContactForm_popup-email" placeholder="Enter your email address"/>
        </div>
        <div class="newsletter-action">
          <button type="submit">
            <span>{% if section.settings.btn_text != blank %}{{ section.settings.btn_text }}{% else %}Subscribe{% endif %}</span>
          </button>
        </div>
        {% endform %}
      {% endif %}
      
      {% if section.settings.img != blank %}
      <div class="newsletter-banner-img">
        <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.img | img_url : '575x' }}" alt="{{ section.settings.img.alt }}"/>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script type="lazyload2">
  if (is_popup == 1 && $('.template-captcha').length == 0 && is_form == 'popup') { 
    $('body .newsletter-popup').addClass('active');
  }
  $(function() {
    $('body').on('click', '.fancybox-close',function(e){
      e.preventDefault();
      $('body .newsletter-popup').removeClass('active hidetext');
    });
    function openNewsletterPopup(){
      setTimeout(function(){ 
        $('body .newsletter-popup').addClass('active');
      }, 2000);
    }
    var popup = getCookie('subscription_popup')
    var cookie_enabled = {% if section.settings.newsletter_popup_days != blank and section.settings.newsletter_popup_days != "0" %}true{% else %}false{% endif %};

    if (cookie_enabled && popup == 'open') {
      return false;
    } else {
      openNewsletterPopup();
    }

    if (cookie_enabled) {setCookie('subscription_popup', 'open', {{ section.settings.newsletter_popup_days }})}

      $('#ContactForm_popup').submit(function(e){
        var form = $(this);
        var x = true;
        var em = form.find('#ContactForm_popup-email');
        form.find('.error_msg').remove();
        var err_msg = 'This is a required field.';
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(em.val().trim() == '' || !regex.test(em.val())) {
          $(em).parent().append('<span class="error_msg">'+ err_msg +'</span>');        
          $(em).parent().addClass('haserror');
          x = false;
        } else{
          $(em).parent().removeClass('haserror');
        }
        if( x == false){
          $('.haserror:eq(0) input').trigger('focus');
          return false;        
        }

        if(x && $('.subscribe_form.is_mailchemp_form').length){
          e.preventDefault();
          $.ajax({
            type: "GET",
            url: form.attr("action"),
            data: form.serialize(),
            cache: false,
            dataType: "jsonp",
            jsonp: "c", // trigger MailChimp to return a JSONP response
            contentType: "application/json; charset=utf-8",
            error: function(error){
              // According to jquery docs, this is never called for cross-domain JSONP requests
            },

            success: function(data){
              if (data.result != "success") {
                var message = data.msg || "Sorry. Unable to subscribe. Please try again later.";
                $("#join-result").css("color", "red");
                if (data.msg && data.msg.indexOf("already subscribed") >= 0) {
                  message = "You're already subscribed. Thank you.";
                  $("#join-result").css("color", "green");
                }
                $("#join-result").html(message);
              } else {  
                form[0].reset(); 
                $("#join-result").html(data.msg);
                $("#join-result").css('display','block');
              }
            }
          });
        }
        
      });
      
    });
</script>

{% endif %}
{% schema %}
  {
    "name": "Newsletter Popup",
    "settings": [
		{
			"type":"checkbox",
            "id":"show_thi_pop",
            "label":"Show This Popup?"
		},
		{
            "type":      "range",
            "id":        "newsletter_popup_days",
            "min":       0,
            "max":       99,
            "step":      1,
            "label":     "Days(limit to show again)",
            "default":   10
        },
		{
			"type":"text",
            "id":"heading",
            "label":"Heading"
		},
		{
			"type":"richtext",
            "id":"desc",
            "label":"Description"
		},
		{
			"type":"text",
            "id":"btn_text",
            "label":"Button text"
		},
		{
			"type":"image_picker",
            "id":"img",
            "label":"Image"
		},
		{
			"type":"text",
            "id":"mailchimp_id",
            "label":"Mailchimp Form Action URL",
			"info":"https://facebook.us16.list-manage.com/subscribe/post?u=9c53e02557bda2b147f0ef02e&amp;id=a794cd9066"
		},
		{
			"type":"checkbox",
            "id":"get_customer_form",
            "label":"Get Customer form"
		}
	]
  }
{% endschema %}
