{%- capture all_metafield -%}
{% assign all_related = product.metafields.related_product.related_product | split : '|' %}
{% for cur_p in all_related %}
{% unless cur_p == product.handle %}
  {% assign cur_pro  = all_products[cur_p] %}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}

  {% if cur_pro != blank  %}
  {% include 'product-gird-item', product : cur_pro %}
  {% endif %}
{% endunless %}
{% endfor %}
{%- endcapture -%}

{% if section.settings.show_related_products == true %}
  {% assign number_of_related_products_per_row = section.settings.related_grid_num %}
  {% assign number_of_rows = section.settings.related_grid_row %}
  {% assign heading = section.settings.related_title %}

    {% assign same_vendor = false %}
    {% assign same_type = false %}

    {% assign exclusions = 'frontpage,all' | split: ',' %}

    {% if product.metafields.c_f['Related Products'] %}
    {% assign collection = collections[product.metafields.c_f['Related Products']] %}
    {% endif %}

    {% assign found_a_collection = false %}
    {% if collection and collection.all_products_count > 1 %}
      {% unless exclusions contains collection.handle %}
        {% assign found_a_collection = true %}
      {% endunless %}
    {% endif %}
    {% unless found_a_collection %}
      {% for c in product.collections %}
        {% unless exclusions contains c.handle or c.all_products_count < 2 %}
          {% assign found_a_collection = true %}
          {% assign collection = c %}
          {% break %}
        {% endunless %}
      {% endfor %}
    {% endunless %}

  {% if found_a_collection %}

    {% assign counter = 0 %}
    {% assign current_product = product %}


    {% capture related_items %}

	   {% assign relatedProductsData = product.metafields.related_product.related_product | split: "|"  %}


      {% paginate collections.all.products by 200  %}

		{% for product in collections.all.products %}


          {% for prd in relatedProductsData %}
              
			{% if prd == product.handle %}

				 {% include 'product-recommended-gird-item' %}
			
 			{% endif %}

          {% endfor %}
        
        {% endfor %}
         
      {% endpaginate %}

    {% endcapture %}

    {% assign related_items = related_items | trim %}
      {% unless related_items == blank %}
      <section class="related-product">
        <div class="min-container">
          <div class="related-product-slider">
            {% unless heading == blank %}
            <div class="related-product-title">
              <h3>{{ heading }}</h3>
            </div>
            {% endunless %}
            <div class="product-slider">
              {{ related_items }}
            </div>
          </div>
        </div>
      </section>
      {% endunless %}



 {% comment %}
    {% if all_metafield != blank %}
        <section class="related-product">11
          <div class="min-container abtest">
            <div class="related-product-slider">
              {% unless heading == blank %}
              <div class="related-product-title">
                <h3>{{ heading }}</h3>
              </div>
              {% endunless %}
              <div class="product-slider">
                {{ all_metafield }}
              </div>
            </div>
          </div>
        </section>
	{% else %}
      {% unless related_items == blank %}
      <section class="related-product">22
        <div class="min-container">
          <div class="related-product-slider">
            {% unless heading == blank %}
            <div class="related-product-title">
              <h3>{{ heading }}</h3>
            </div>
            {% endunless %}
            <div class="product-slider">
              {{ related_items }}
            </div>
          </div>
        </div>
      </section>
      {% endunless %}
	{% endif %}

	{% endcomment %}

  {% endif %}
{% endif %}

{% if template == 'product.bundle' %}
{% assign new_collection = collections['diffusers-refill-oils'] %}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<section class="related-product">
  <div class="min-container">
    <div class="related-product-slider">
      {% unless heading == blank %}
      <div class="related-product-title">
        <h3>{{ heading }}</h3>
      </div>
      {% endunless %}
      <div class="product-slider">
        {% for product in new_collection.products limit: 4%}
        {% if product.available %}
        {% include 'product-recommended-gird-item' %}
        {% endif %}
        {% endfor %}
      </div> 
    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": false
    },
    {
      "id": "related_title",
      "type": "text",
      "label": "Section title",
      "default": "Other fine products"
    }
  ]
}
{% endschema %}